<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS MUN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='room.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/j.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    
</head>
<body>
    <p>Your name: {{name}} | Room Number: {{roomid}} | Room Admin: {{admin}}</p>
    
    <p id="lobbyinfo">Question Askers: </p>
    <form onsubmit="event.preventDefault()">
        <label>What are you curious about?</label>
        <input type="text" id="question" name ='question' placeholder="Think big..."/>
        <button onclick="sendQuestion()" >Submit your question</button>
    </form>
    <div id=board></div>
    <div id="replymenu">
        <p>Click outside to cancel</p>
        <label> Reply:</label>
        <input type="radio" name="replytype" value="feedback" > Feedback <br>
        <input type="radio" name="replytype" value="further" > Further Question<br>
        <input type="text" id="replybox" placeholder="Be appropriate..." > <br>
        <button id ="sendreply" onclick="sendreply()">Confirm</button>
</div>
<div id="deleteconfirmation">
    <p>Click outside to cancel</p>
    <label> Are you sure?</label>
    <button id ="confirmdelete" onclick="deletemessage()">Yes, delete!</button>
</div>
<div id="aimenu">
    <p>Click outside to cancel</p>
    <label> Choose:</label>
    <input type="radio" name="aitype" value="strengthen" > Strengthen your question <br>
        <input type="radio" name="aitype" value="airesponse" > Get an answer from AI<br>
        <input type="text" id="aicontext" placeholder="Add more context herel" > <br>
    <p>Adding context will help the AI better understand your goal. <br> Importantly, AI can make mistakes, so always fact check any response.</p>
    <button id ="aisubmit" onclick="aisumbit()">Confirm</button>
</div>
</body>
<script src="{{ url_for('static', filename='room.js') }}"></script>
</html>



